.card{
  margin: 25px;
  width: 100px;
  overflow: hidden;
}

.imageContainer{
    overflow: hidden;
}


.image {
     /* Animation */
    margin: 0 auto;
    height: 200px;
    vertical-align: middle;
    transition: transform 0.3s, height 0.3s;
  }

  .button{
      border : 0px;
      font-weight: 600;
  }

  .button:hover{
      font-weight: 600;
  }
  .button:focus{
      font-weight: 600;
      border: 0px
}

.button:disabled{
    border : 0px;
    font-weight: 600;
}
  
.card:hover .image{
    transform: scale(1.05); 
    height: 195px;
  }




