.card{
  margin: 25px;
  width: 100px;
  overflow: hidden;
}

.imageContainer{
    overflow: hidden;
}


.image {
     /* Animation */
    margin: 0 auto;
    height: 200px;
    vertical-align: middle;
    transition: transform 0.3s, height 0.3s;
  }

  
.card:hover .image{
    transform: scale(1.05); 
    height: 195px;
  }




